<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid px-5">
      <a class="navbar-brand pe-3">مبادرة الشكاوي الإلكترونية</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav pe-5">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/Home" routerLinkActive="active fw-bold">الرئيسية</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page">من نحن</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" >كيف تعمل الشكوي؟</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/pre-complaint" routerLinkActive="fw-bold">تقديم شكوي</a>
          </li>


        </ul>
      </div>
    </div>
  </nav>